@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');
$font-family-sans-serif: 'Roboto', sans-serif
$font-size-base: 0.875rem
$montserrat: 'Montserrat', sans-serif
$desktop: 992px

$body-color: #000
$body-bg: #FAFAFA

$theme: #0077FF
$orange: #FF9011
$green: #81D27B
$yellow: #FFC403
$red: #FF4949
$cyan: #16B9F6
$light-green: #81DA28
$light-purple: #4A148C
$purple: #4A148C
$text-grey: #707070
$bg-notes: #F2F4F8
$blue: #1455e0
$btn-blue: #244BBC;
$btn-red: #BE0C22;
$text-grey-light: #B8B8B8
$pdf-bar: #353535
$border-form: #EBEBEB
$border-question: #E2E6ED
$color-danger: #BE0C22
$color-success: #06C671
$color-info: #244BBC
$border-table: #CCCCCC
$color-purple: #6138F8
$color-yellow: #FFB300
$color-icon: #adb5bd
$color-menu: #757575
$bg-tab: #F5F5F5
$bg-broadcast-active: #EFEFEF
$ir-green: #38D18E
$color-grey: #888888
$off-air: #FEC107
$countdown: #FE6400
$border-color-1: #D3DBF1
$option-bg: #F9F9F9
$bg-icon: #F1EEF3
$rgba-red: rgba(190, 12, 34, .10)
$off-air-shadow: 0px 0px 12px 4px rgba(254,193,7,1)
$countdown-shadow: 0px 0px 12px 4px rgba(254,100,0,1);
$live-shadow: 0px 0px 12px 4px rgba(190,12,34,1);