.poll-list
    .btn-wrap
        position: relative
        &.lg
            .btn 
                font-family: $montserrat
                font-weight: 500
                text-transform: uppercase
                padding: 12px 50px
        .left-wrap
            text-align: left
            position: absolute
            bottom: 0
            left: 0
            .btn 
                text-transform: capitalize
                margin-left: 0
                margin-right: 10px
    .active-poll
        font-family: $montserrat
        .form-group
            margin-bottom: 8px
            .form-control
                height: 48px
                background-color: $bg-notes
            .label-form 
                font-size: 14px
                font-weight: 600
                display: block
                margin-bottom: 3px
            .custom-control-label
                font-size: 14px;
                &:before
                    border: 1px solid $btn-blue
            .btn
                font-size: 12px
                .material-icons
                    font-size: 18px
            .poling-data
                list-style: none
                padding-left: 0;
                li 
                    border-radius: 3px
                    padding: 10px
                    background-color: $bg-notes
                    display: inline-block
                    min-width: 208px
                    min-height: 74px
                    vertical-align: top
                    margin-right: 15px;
                    label
                        font-size: 10px;
                        font-family: $montserrat
                        font-weight: 700
                        display: block
                        margin-bottom: 0
                        .material-icons
                            display: inline-block
                            vertical-align: middle
                            margin-right: 5px
                            color: $btn-blue
                            width: 24px
                    p 
                        font-size: 20px
                        font-weight: 700
                        font-family: $montserrat
                        color: $btn-blue
                        letter-spacing: 1.5px
                        margin-bottom: 0
                    &:first-child
                        label
                            .material-icons
                                color: $color-success
                        p 
                            color: $color-success
            .btn-list
                list-style: none
                padding-left: 0
                li 
                    display: inline-block
                    margin-right: 15px
                    .btn 
                        font-size: 12px
                        font-family: $montserrat
                        padding-left: 30px
                        padding-right: 30px
                    .btn-primary
                        background-color: $btn-blue

        .progress-wrapper
            border-bottom: none
            margin-bottom: 0
            padding-bottom: 0
            margin-right: 0
            .progress
                margin-bottom: 10px
                



