// addon colors
.bg-light-green
    background-color: $light-green !important
.bg-light-purple
    background-color: $light-purple !important
.bg-purple
    background-color: $purple !important
.bg-success
    background-color: $ir-green !important
.bg-primary
    background-color: $btn-blue !important
.bg-info
    background-color: $cyan !important
.bg-danger
    background-color: $btn-red !important
// table
.table-striped-even
    tr:nth-of-type(even)
        background-color: $gray-100
html
    height: 100%
body
    background-color: $bg-notes;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    &.addDrop
        &:after
            content: ""
            position: fixed
            top: 0
            left: 0
            right: 0
            bottom: 0
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,0.7)
            z-index: 3
.btn
    &.btn-danger
        background-color: $color-danger
    &.btn-black
        background-color: black
        color: white
    &.btn-success
        background-color: $color-success
        color: white
    &.disabled
        background-color: $text-grey-light
    .material-icons
        vertical-align: middle
.btn-wrap
    padding-top: 20px
    .btn
        font-family: $montserrat
        font-size: 12px
        font-weight: 500
// sidebar & content
.navbar.fixed-top
    top: 40px;
    
.nav-menu
    width: 100%
    z-index: 88
.sidebar-area,
.content-area
    margin-top: 40px
    &.ir
        margin-top: 0
        margin-left: 0
        padding-left: 77px
        position: relative
        padding-top: 15px
        padding-bottom: 0
        overflow-y: hidden
        height: 84vh
        @media (max-width: 1440px)
            height: 80vh
        @media (max-width: 1366px)
            height: 80vh
        @media (max-width: 1280px)
            height: 80vh
        .column-content-group
            flex: 0
        .content-header
            margin-top: 0
        .card
            height: 803px
            @media (max-width: 1440px)
                height: 533px
            @media (max-width: 1366px)
                height: 491px
            @media (max-width: 1280px)
                height: 418px
            .scrollable
                height: 83%
                @media (max-width: 1440px)
                    height: 75%
                @media (max-width: 1366px)
                    height: 74%
                @media (max-width: 1280px)
                    height: 70%
            .card-body
                .table-header
                    overflow-y: hidden
                    overflow-x: auto
                    margin-right: 38px
#accordion
    .card
        transition: all ease-in-out .2s
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
        border: none
    .card-header
        padding: 0
        border: none
        background-color: transparent
.sidebar-area
    width: 300px
    background-color: $white
    box-shadow: 0 3px 6px rgba($black, .16)
    position: fixed
    left: 0
    z-index: 1031
    top: 60px
    border-top: 1px solid $gray-300
    height: 100%
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    @media (max-width: 1280px)
        width: 264.5px
    .side-content
        &.participant
            height: 185px
        &.chat
            height: 25%
            @media (max-width: 1280px)
                height: 25%
            @media (min-width: 1366px)
                max-height: 430px
    .video-call
        position: relative
        img
            max-width: 100%
        .status-live
            position: relative
            background-color: $off-air
            padding: 15px 20px
            z-index: 2
            text-align: center
            min-height: 60px
            display: flex
            justify-content: center
            .status
                text-transform: uppercase
                color: $white
                font-weight: 400
                border: 1px solid $off-air
                padding: 2px
                position: absolute
                right: 10px
                bottom: -50px
                border-radius: 3px
                span
                    background-color: $off-air
                    display: block
                    text-align: center
                    padding: 4px 10px
                    border-radius: 3px
                    /*box-shadow: $off-air-shadow*/
            p
                color: $white
                font-weight: 400
                margin-bottom: 0
                font-size: 14px
                display: flex
                align-self: center
                align-items: center
                span
                    display: inline-block
                    margin-left: 8px
                    width: 30px
                    height: 30px
                    border-radius: 400px
                    background-color: $white
                    font-size: 12px
                    color: $countdown
                    vertical-align: middle
                    text-align: center
                    line-height: 30px
            &.countdown
                background-color: $countdown
                .status
                    border: 1px solid $countdown
                    span
                        background-color: $countdown
                        /*box-shadow: $countdown-shadow*/
            &.live
                background-color: $bg-broadcast-active
                p
                    color: $btn-red
                .status
                    border: 1px solid $btn-red
                    /*&.shadow-live
                        span
                            box-shadow: $live-shadow*/
                    span
                        background-color: $btn-red
                        display: inline-block
                        &:first-child
                            background-color: transparent
                        
    &.close-side
        left: -300px
        @media (max-width: 1280px)
            left: -264.5px
    .moderator-menu 
        .dropdown-toggle
            &:after
                border-top: .4em solid;
                border-right: .4em solid transparent;
                border-bottom: .4em solid transparent;
                border-left: .4em solid transparent;
        ul
            list-style: none
            padding: 0
            margin: 0
            > li
                background-color: white
                border-bottom: 1px solid $border-question
                margin: 0;
                position: relative
                display: block
                padding: 12px 20px
                &:after
                    content: ""
                    clear: both
                    display: block
                &:hover
                    text-decoration: none
                .moderator-pict
                    width: 40px
                    height: 40px
                    overflow: height
                    border-radius: 700px
                    float: left
                    margin-right: 10px
                    img
                        max-width: 100%
                        border-radius: 700px
                p
                    overflow: heidden
                    margin-bottom: 0
                    padding-top: 5px
                    .moderator-name
                        font-weigh: 700
                        color: black
                        font-size: 14px
                        line-height: 16px
                        text-transform: inherit
                    span
                        color: $color-grey
                        margin: 0
                        display: block
                        font-size: 12px
                        text-transform: uppercase
                .op-menu
                    &.dropdown-toggle
                        position: absolute
                        top: 21px
                        right: 10px
                        border: none
                        background-color: transparent
                        -webkit-appearance: none
                        color: $btn-blue;
                        &:after
                            display: none
                .dropdown-menu
                    &.dropdown-menu-right
                        transform: initial !important
                        top: 0 !important
                        left: 100% !important
                        transform: initial
                        min-width: 300px
                        li
                            position: relative
                            padding: 0
                            border: none
                            a
                                display: block
                                border: none
                                border: none
                                padding: 10px
                                border: none
                                background-color: transparent
                                -webkit-appearance: none
                                color: $color-menu
                                padding-left: 40px
                                position: relative
                                font-size: 13px
                                .material-icons
                                    position: absolute
                                    left: 8px
                                    top: 12px
                                    color: $btn-blue
                                    font-size: 18px
                                img
                                    position: absolute
                                    left: 8px
                                    top: 8px
                .dropdown-submenu
                    .submenu-toggle 
                        &.dropdown-toggle
                            position: relative
                            &:after
                                position: absolute
                                top: 57%;
                                right: 10px
                                -moz-transform: translateY(-50%)
                                -webkit-transform: translateY(-50%)
                                transform: translateY(-50%)
                    .dropdown-menu.dropdown-menu-right
                        top: auto !important
                        bottom: 0
.participant-list
    height: 185px
    overflow: auto

.profile-box
    display: flex
    align-items: center
    padding: .8rem 1.5rem
    -ms-flex-wrap: wrap
    flex-wrap: wrap;
    &.sidebar-item
        border-bottom: 1px solid $gray-300
    .profile-avatar
        width: 46px
        height: 46px
        padding: 3px
        border: 1px solid $primary
        border-radius: 50%

        img
            width: 100%
            border-radius: 50%
    .profile-name
        padding-left: 1rem

        .profile-title
            font-size: 14px
            line-height: 1
            margin-bottom: .5rem
        .profile-description
            font-size: 12px
            line-height: 1
            text-transform: uppercase
            display: block
            color: $gray-600

    &.profile-item
        .profile-avatar
            padding: 0
            width: 28px
            height: 28px
            border: none
        .profile-name
            .profile-title
                font-weight: normal
                margin-bottom: 0
                color: $text-grey
                font-size: 14px
            .profile-description
                text-transform: none
                color: $text-grey-light
                font-size: 12px
        &:hover
            background-color: $gray-100

.accordion-header
    padding: .75rem 1.5rem
    border-bottom: 1px solid $gray-200
    position: relative
    cursor: pointer

    &:hover
        background-color: $gray-100

    .accordion-arrow
        position: absolute
        right: 1.5rem
        top: 50%
        height: 14px
        margin-top: -7px
        font-size: 12px
        transition: all ease-in-out .2s

    .is-active &
        .accordion-arrow
            transform: rotate(180deg)

    .accordion-title
        font-size: 14px
        text-transform: uppercase
        color: $primary
        font-weight: normal
        margin-bottom: 0

        .item-number
            background-color: $gray-300
            color: $red
            border-radius: 3px
            line-height: 18px
            padding: 0 3px
            height: 18px
            margin-left: 5px

.accordion-content
    height: 0
    overflow: hidden
    padding-bottom: 0
    opacity: 0
    transition: all ease-in-out .2s

.accordion.is-active
    .accordion-content
        padding-bottom: 1rem
        height: 100%        
        opacity: 1        

.content-area
    margin-left: 300px
    padding: 90px 30px 30px
    height: 100%
    display: flex
    flex-direction: column
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    background-color: $bg-notes
    @media (max-width: 1280px)
        margin-left: 265px

    &.close-side
        margin-left: 0
        @media (max-width: 1280px)
            margin-left: 0
    &.menu-hide
        padding-top: 30px
    .column-content-group
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
        > div[class^="col-"]
            &.is-upload-presentation
                display: flow-root
                flex-direction: column
                height: auto
                .content-group
                    display: flow-root
                    flex-direction: column
                    height: 525px
                    @media(max-width: 1440px)
                        height: 444px
                    @media(max-width: 1366px)
                        height: 424px
                    @media(max-width: 1280px)
                        height: 414px
                    &.video
                        height: auto
                        @media(max-width: 1440px)
                            height: auto
                        @media(max-width: 1366px)
                            height: auto
                        @media(max-width: 1280px)
                            height: auto
                    .card
                        height: 513px
                        @media(max-width: 1440px)
                            height: 382px
                        @media(max-width: 1366px)
                            height: 364px
                        @media(max-width: 1280px)
                            height: 352px
                        &.is-upload 
                            height: auto
                            @media(max-width: 1440px)
                                height: auto
                            @media(max-width: 1366px)
                                height: auto
                            @media(max-width: 1280px)
                                height: auto
            
    .embed-video
        padding-bottom: 50%
    .card
        border-radius: 0
        border: none
        box-shadow: 0 2px 4px rgba($black, .16)
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s

    .card-title
        margin-bottom: 0

    .card-body
        padding: 15px

    .scrollable
        overflow: auto

        .simplebar-track.horizontal
            display: none

    .table
        margin-bottom: 0

        .ui-sortable-helper
            box-shadow: 0 3px 6px rgba($black, .1)

        thead tr
            border-top: none
            border-bottom: 1px solid #E8E8E8
        
        th,td
            padding: 8px 6px
            height: 100%
            border-top: none
            border-bottom: none

            .icon-sortby
                color: #CCCCCC
                display: inline-block
                vertical-align: middle
                line-height: 16px

        .btn
            height: 28px
            width: 28px
            border-radius: 50%
            display: inline-flex
            justify-content: center
            align-items: center
            padding: 0
            cursor: default
            font-size: 16px
            color: $info

            &:not(.btn-talk)
                background-color: #F1EEF3

            &.btn-talk
                cursor: pointer
                color: $white

                .icon-volume-on
                    display: block

                .icon-volume-off
                    display: none

                &.is-muted
                    .icon-volume-off
                        display: block
                    .icon-volume-on
                        display: none

            &.btn-qa
                color: $orange
    &.m-fix-bottom
        @media(max-width: 1280px)
            padding-bottom: 200px
    #jsCardCollapsed
        height: auto
        transition: all ease-in-out .2s
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
        &.hide
            visibility: hidden
            transition: all ease-in-out .2s
            -webkit-transition: all ease-in-out .2s
            -moz-transition: all ease-in-out .2s
            -ms-transition: all ease-in-out .2s
.column-content-group
    flex: 1


    .is-presentation-list
        .card
            flex: 1
            max-height: 100%
            height: 513px
            @media(max-width: 1440px)
                height: 382px
            @media(max-width: 1366px)
                height: 364px
            @media(max-width: 1280px)
                height: 352px

        .card-body
            display: flex
            flex-direction: column
            height: 378px
            @media(max-width: 1440px)
                height: 286px
            @media(max-width: 1366px)
                height: 270px
            @media(max-width: 1280px)
                height: 262px

            .scrollable
                flex: 1
    
.content-group
    margin-bottom: 30px
    &.fixet-bottom
        @media(max-width: 1280px)
            position: fixed
            right: 30px
            bottom: 0
            width: 100%
            max-width: 953px
        &.close-side
            max-width: auto !important
    &.content-bottom 
        min-height: 210px

    .table
        a
            text-decoration: none
            color: $black
        .btn-play
            color: $light-green
            font-size: 1.5rem
        thead
            tr
                height: 30px       
            th
                padding-top: 0
                text-transform: uppercase
                font-weight: normal
                color: $gray-600
                font-size: 10px
        td
            vertical-align: middle

        .col-play
            width: 50px
            text-align: center
        .col-title
            width: 65%
        .btn-action
            color: $black
            text-decoration: none
            width: 1.25rem
            height: 1.25rem
            display: inline-flex
            align-items: center
            justify-content: center
            vertical-align: middle
            .material-icons
                font-size: 18px

            &:hover
                color: $primary
            
            &:not(:last-child)
                margin-right: .5rem


    .content-header
        border-bottom: 1px solid $gray-300
        display: block
        align-content: center
        margin-bottom: 30px
        height: 30px
        position: relative

        &:before
            content: ""
            position: absolute
            left: 0
            bottom: 0
            width: 30px
            height: 2px
            background-color: $primary
            z-index: 1

        h3
            font-size: 14px
            line-height: 1.5rem
            font-weight: normal
            color: $primary
            text-transform: uppercase

            small
                text-transform: none
                font-size: 14px
                color: $gray-600
                
                &:before 
                    content: "-"
                    display: inline-block
                    margin: 0 .5rem
                &.dark
                    color: $body-color

        .content-header-icon
            color: $primary
            position: absolute
            top: 0
            right: 0
            height: 30px
            display: flex
            align-items: center
            .i-add
                 display: none
            &.js-collapsed
                cursor: pointer
            &.open
                .i-add
                    display: inline-block
                .i-remove
                    display: none
.upload-box
    border-radius: 6px
    border: 2px dashed $primary
    text-align: center
    padding: 2rem 1rem

    h3
        margin-bottom: 1rem
        font-size: 20px
        line-height: 24px
    p
        color: $gray-500
        margin-bottom: 0

.slides
    padding: 0 80px
    &.js-slides2
        padding: 0
        .slick-slide
            margin-bottom: -6px
        .slide-item
            
            img
                max-width: 100%
                width: 100%
    .slide-item
        padding: 8px
        img
            max-width: 100%
            width: 100%

        .slide-title
            color: $primary
            font-size: 14px
            line-height: 1.5rem
    &.js-slides1
        .slide-item
            padding: 8px
        .slick-current
            color: white
            background-color: #be0c22;
            .slide-item
                h4
                    color: white
    &.js-slides3
        padding: 0
        margin-bottom: 0px

.embed-video
    position: relative
    width: 100%
    padding-bottom: 55%
    overflow: hidden
    margin-bottom: 15px
    iframe
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        border: none
.is-upload-presentation 
    .content-group 
        margin-bottom: 0
        .card 
            display: block


.next-slide
    a
        img 
            max-width: 100%
    h3
        font-size: 14px
        color: $text-grey
        font-family: "Roboto",sans-serif
        margin-top: 20px
    .notes-wrapp
        position: relative
        #controls
            position: absolute
            top: -9px
            right: 0
            font-size: 0
            float: right
            background: #333
            overflow: hidden

            a
                font-size: 24px
                color: #aaaaaa
                display: inline-block
                font-weight: 700
                padding: 5px 8px
                line-height: 18px
                &:hover
                    color: #fff
                    background: #000
                    transition: .25s ease-out
                    text-decoration: none
                &.selected
                    background: #000
                    color: #fff !important
            #small
                font-size: 10px !important
            #medium
                font-size: 12px !important
            #large
                font-size: 16px  !important
        .notes
            padding: 20px 20px
            background-color: $bg-notes
            height: 140px
            @media(max-width: 1440px)
                height: 110px
            @media(max-width: 1366px)
                height: 104px
            @media(max-width: 1280px)
                height: 102px
            .simplebar-scroll-content
                padding-right: 40px !important
            p 
                font-size: 14px
                line-height: 20px
            
.slide-preview
    overflow: auto
    height: 421px
    @media(max-width: 1440px)
        height: 290px
    @media(max-width: 1366px)
        height: 270px
    @media(max-width: 1280px)
        height: 260px
    img
        max-width: 100%
.js-slides2
    .slick-arrow
        opacity: 0
    .slide-item
        padding: 0
.arrow-slide
    cursor: pointer
    background-color: transparent
    border: none
    &.disabled
        opacity: 0.4
    &:focus
        box-shadow: none
        outline: none
.title-content
    padding: 20px 30px
    background-color: $white
    position: relative
    border: 1px solid rgba(0,0,0,0.125);
    border-top: none
    border-left: none
    border-right: none
    > span
        position: absolute
        top: 50%
        right: 20px
        transform: translateY(-50%) rotate(90deg)
        -webkit-transform: translateY(-50%) rotate(180deg)
        -moz-transform: translateY(-50%) rotate(180deg)
        -ms-transform: translateY(-50%) rotate(180deg)
        color: $black
        font-size: 20px
    h3
        font-weight: 400
        text-transform: uppercase
        color: $theme
        font-size: 14px
        line-height: 16px
        margin-bottom: 0
        .label
            background-color: $border-question
            color: $red
            border-radius: 3px
            padding: 2px 0
            margin-left: 4px
            display: inline-block
            width: 24px
            text-align: center

.collapsed
    .title-content
        > span
            -webkit-transform: translateY(-50%) rotate(0deg)
            -moz-transform: translateY(-50%) rotate(0deg)
            -ms-transform: translateY(-50%) rotate(0deg)
.pdf-bar
    background-color: $pdf-bar
    padding: 10px 15px
    position: relative
    ul 
        list-style: none
        margin-bottom: 0
        padding-left: 0
        li
            display: inline-block
            text-align: center
            padding: 0 5px
            vertical-align: middle
            p
                color: $white
                font-size: 12px
                margin-bottom: 0
            a 
                color: $white
                font-size: 12px
                margin-bottom: 0
                bottom: -2px
                position: relative
                &.refresh
                    bottom: 0
                    top: -2px
            &.play-btn
                display: none
    .setting-pdf
        position: absolute
        top: 50%
        right: 38px;
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
    .close-pdf
        position: absolute
        top: 50%
        right: 10px;
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        -ms-transform: translateY(-50%)
.pdf-bar-bottom
    background-color: $pdf-bar
    padding: 10px 15px
    position: relative
    ul 
        list-style: none
        margin-bottom: 0
        padding-left: 0
        width: 100%
        text-align: center
        li
            display: inline-block
            text-align: center
            padding: 0 5px
            p
                color: $white
                font-size: 12px
                margin-bottom: 0

.my-dropdown
    display: inline-block;
    position: absolute
    top: 10px
    right: 30px
    .btn
        background-color: transparent;
        padding: 3px
        border: none
        &:focus
            box-shadow: none
            outline: none
    .my-option-list
        position: absolute
        right: 0%
        top: 100%
        width: 100%
        min-width: 180px
        background-color: white
        z-index: 2
        transition: all ease-in-out .2s
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
        height: 0
        opacity: 0
        overflow: hidden
        padding: 8px 0
        border: 1px solid $text-grey-light
        button
            background-color: transparent
            border: none
            display: block
            width: 100%
            &:focus
                box-shadow: none
                background-color: $theme
                color: white
                outline: none
            &:hover
                background-color: $theme
                color: white
            &.active 
                background-color: $theme
                color: white
    &.open
        .my-option-list
            opacity: 1
            height: auto
