.is-upload-ecurtain
    .content-group
        display: flow-root
        flex-direction: column
        height: auto
        &.button
            height: auto
            margin-bottom: 30px
            background-color: $white
            padding: 12px

        &:last-child
            margin-bottom: 0
        &.video
            height: auto
            @media(max-width: 1440px)
                height: auto
            @media(max-width: 1366px)
                height: auto
            @media(max-width: 1280px)
                height: auto
        .card
            height: 513px
            @media(max-width: 1440px)
                height: 382px
            @media(max-width: 1366px)
                height: 364px
            @media(max-width: 1280px)
                height: 352px
            &.is-upload
                height: auto
                @media(max-width: 1440px)
                    height: auto
                @media(max-width: 1366px)
                    height: auto
                @media(max-width: 1280px)
                    height: auto
        @media(max-width: 1366px)
            margin-bottom: 12px
        .content-header
            @media(max-width: 1366px)
                margin-bottom: 12px
.column-content-group
    .is-ecurtain-list
        .card
            flex: 1
            max-height: 100%
            height: 313px
            overflow: hidden
            @media(max-width: 1440px)
                height: 242px
            @media(max-width: 1366px)
                height: 224px
            @media(max-width: 1280px)
                height: 200px

        .card-body
            display: flex
            flex-direction: column
            height: 378px
            @media(max-width: 1440px)
                height: 286px
            @media(max-width: 1366px)
                height: 270px
            @media(max-width: 1280px)
                height: 182px

            .scrollable
                flex: 1
.is-ecurtain-list, .is-upload-ecurtain
    .content-group
        &:last-child
            margin-bottom: 0
        .content-header
            h3
                &::first-letter
                    text-transform: initial
.is-ecurtain-list
    .content-group 
        .table 
            thead 
                th
                    font-weight: 700
.button-live
    padding: 4.5px 10px
    display: block
    background-color: $color-success
    color: $white
    text-transform: uppercase
    border-radius: 4px
    &:hover
        text-decoration: none
        color: $white
    &:after
        content: ""
        clear: both
        display: block
    span
        display: block
        font-size: 12px
        text-transform: initial
    .play-icon
        float: left
        margin-right: 10px
        width: 36px
        height: 36px
        border-radius: 300px
        background-color: $white
        color: $color-success
        text-align: center
        position: relative
        i
            font-size: 34px
            position: absolute
            top: 50%
            left: 50%
            -webkit-transform: translate(-50%, -50%)
            -moz-transform: translate(-50%, -50%)
            transform: translate(-50%, -50%)
    &.countdown
        background-color: $countdown
        .play-icon
            color: $countdown
    &.live
        background-color: $off-air
        .play-icon
            color: $off-air
.count
    &:before
        content: attr(data-counter)
        animation: countdown
        animation-duration: 10s
        animation-delay: 0
        animation-iteration-count: infinite
        animation-play-state: running
@keyframes countdown
  1%
    content: '5'
  10%
    content: '4'
  20%
    content: '3'
  30%
    content: '2'
  40%
    content: '1'
  50%
    content: '0'