.chat-box
  &.ir
    height: auto

.panel-control
  background-color: #ffffff
  box-shadow: 0 2px 4px rgba($black, 0.16)
  padding: 18px 100px 18px 30px
  display: block
  height: 96px
  overflow: hidden
  transition: all ease-in-out .1s

  .icon-arrow-down
    transition: all ease-in-out .2s
    font-size: 24px

  .panel-toggle
    position: absolute
    right: 0
    top: 0
    bottom: 0
    width: 70px
    border-radius: 0
    font-size: 32px
    display: flex
    align-items: center
    justify-content: center
    background-color: $bg-broadcast-active
    box-shadow: none

    &:hover
      background-color: $bg-broadcast-active
    
  &.is-expanded
    height: 232px
    overflow: visible

    .panel-toggle
      align-items: bottom

      .icon-arrow-down
        transform: rotate(180deg)
        position: absolute
        bottom: 24px


  > .row
    margin-left: -7.5px
    margin-right: -7.5px

  > .row > div[class^="col-"]
    padding-left: 7.5px
    padding-right: 7.5px
  
  .control-item
    padding: 15px 24px
    height: 60px
    overflow: hidden
    transition: all ease-in-out .1s
    border-radius: 4px

    &#broadcasting
      cursor: pointer

    .table
      margin-bottom: 0

      th
        border-top: none
        color: $white
        font-weight: 500

      th,td
        line-height: 14px
        padding: 8px
        color: $white

    .control-title
      font-size: 18px
      margin-bottom: 15px
    
    .control-info
      h5
        margin-bottom: 0
      strong
        display: block
        text-transform: uppercase
        margin-top: 8px
  
    .broadcasting-icon
      position: relative
      display: flex
      align-items: center
      justify-content: center
      height: 60px
      margin-bottom: 18px

      .icon-tower-transmissions
        position: absolute
        font-size: 145px

    .microphone-circle
      position: relative
      z-index: 1
      width: 44px
      height: 44px
      background-color: rgba($white, .3)
      border-radius: 50%
      display: inline-flex
      align-items: center
      
      .icon-microphone
        width: auto
        font-size: 24px
        margin: 0 auto

    .slide-preview
      height: 130px
      width: 100%
      max-width: 250px
      object-fit: cover

    .timer-control
      .time
        width: 72px
        font-size: 36px
        font-weight: 700
        float: left
        position: relative
        @media (max-width: 1366px)
          width: 67px
          font-size: 32px
          
        &:not(:last-child)
          margin-right: 24px
          @media (max-width: 1280px)
            margin-right: 9px

        &:not(:last-child):after
          content: ":"
          position: absolute
          top: 14px
          bottom: 0
          height: 36px
          line-height: 32px
          width: 24px
          text-align: center
          right: -20px
          @media (max-width: 1280px)
            right: -12px

      .time-title
        font-size: 10px
        line-height: 10px
        font-weight: normal
        margin-bottom: 4px
        display: block
      
      .time-title ~ span
        letter-spacing: 13px
        text-indent: 4px
        position: relative
        height: 36px
        line-height: 38px
        display: block
        text-align: left

        &:before,
        &:after
          content: ""
          opacity: .3
          background-color: $white
          box-shadow: 0 3px 6px rgba($black, .16)
          position: absolute
          top: 0
          bottom: 0
          width: 30px
          border-radius: 3px

        &:before
          left: -1px
          @media (max-width: 1366px)
            left: -2px
        &:after
          right: 9px
          @media (max-width: 1366px)
            right: 7px
  #broadcasting
    
    .control-info
      h5
        color: $white
        font-size: 16px
        font-weight: 400
        @media (max-width: 1280px)
          font-size: 14px !important
        strong
          color: $white
          font-size: 18px
          font-weight: 700
  &:not(.is-expanded)
    .control-item
      padding-top: 0
      padding-bottom: 0
      display: flex
      align-items: center

    #broadcasting,
    #timer
      .control-title
        opacity: 0
        visibility: 0
        position: absolute

    #broadcasting
      
      .icon-tower-transmissions
        opacity: 0
        visibility: 0
        position: absolute

      .broadcasting-icon
        display: block
        margin-bottom: 0
        height: 44px
        margin-right: 24px

      .control-info h5
        font-size: 16px

    #participant,
    #current-slide
      .table,
      .slide-preview
        opacity: 0
        visibility: hidden
        position: absolute

      .control-title
        margin-bottom: 0
        width: 100%
        
  &.is-expanded
    .control-item
      height: 100%

    .control-info
      text-align: center

    #timer .timer-control
      margin-top: 48px

  &.broadcasting-is-active
    #broadcasting,
      background-color: $bg-broadcast-active !important
      .control-info
       h5
        color: $black
      .control-title
        color: $ir-green
      .icon-tower-transmissions
        color: $ir-green
      .microphone-circle
        background-color: $ir-green
      .control-info
        h5
          strong
            color: $ir-green
      &:hover
        background-color: $ir-green


  &:not(.broadcasting-is-active)
    #broadcasting:hover
      background-color: $ir-green !important

.content-area
  padding: 30px
  padding-top: 96px + 30px
  
  .card
    border-radius: 0
    border-color: #E8E8E8
    height: calc(100vh - #{96px + 60px})

  .card-title
    margin-bottom: 0

  .card-body
    padding: 15px

  .scrollable
    // navbarHeight + content verticalPadding + theadHeight + cardVerticalPadding + cardTitleHeight - simplebar
    max-height: calc(100vh - #{96px + 60px + 38px + 30px + 21px - 34px})
    overflow: auto

    .simplebar-track.horizontal
      display: none

  .table
    margin-bottom: 0

    .ui-sortable-helper
      box-shadow: 0 3px 6px rgba($black, .1)

    thead tr
      border-top: none
      border-bottom: 1px solid #E8E8E8
    
    th,td
      padding: 8px 6px
      height: 100%
      border-top: none
      border-bottom: none

      .icon-sortby
        color: #CCCCCC
        display: inline-block
        vertical-align: middle
        line-height: 16px

    thead,
    tbody
      display: block

    tr
      display: flex
      align-items: center
      border-top: 1px solid #E8E8E8
      border-bottom: 1px solid #E8E8E8
      margin-bottom: -1px
      background-color: $white

      &.is-talk
        background-color: #E7F6FE
      &.is-queued
        background-color: #ECF8EB
      &.on-desktop
        background-color: #F9F9F9
      &.is-exit td
        font-style: italic

    tbody
      // navbarHeight + content verticalPadding + theadHeight + cardVerticalPadding + cardTitleHeight - simplebar
      // max-height: calc(100vh - #{96px + 60px + 38px + 30px + 21px - 34px})
      // overflow: auto
      flex-direction: column

      td
        color: #707070

    .col-name
      width: 200px
      display: flex
      align-items: center

      .participant-name
        padding-left: 4px

    .col-name .participant-name,
    .col-company,
    .col-role
      display: block
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap

    .col-talk
      width: 64px

    .col-company
      width: 160px
    
    .col-role
      width: 120px

    .col-entry,
    .col-exit
      width: 110px

    .col-channel
      width: 96px

      .btn:not(:last-child)
        margin-right: 4px

    .col-qa
      width: 84px
      .btn-mute
        color: black
        vertical-align: middle

    .participant-avatar
      width: 28px
      height: 28px
      border-radius: 50%
      margin-right: 5px

    .col-notes
      flex: 1

    .btn
      height: 28px
      width: 28px
      border-radius: 50%
      display: inline-flex
      justify-content: center
      align-items: center
      padding: 0
      cursor: default
      font-size: 16px
      color: $info

      &:not(.btn-talk)
        background-color: #F1EEF3

      &.btn-talk
        cursor: pointer
        color: $white

        .icon-volume-on
          display: block

        .icon-volume-off
          display: none

        &.is-muted
          .icon-volume-off
            display: block
          .icon-volume-on
            display: none

      &.btn-qa
        color: $orange


.chat-box
  position: fixed
  z-index: 1032
  right: 80px
  bottom: 30px
  width: 326px
  border: 1px solid #CCCCCC
  border-bottom: 0
  box-shadow: -3px 0 6px rgba($black, .16)
  transition: all ease-in-out .1s
  
  &:not(.is-minimized)
    bottom: 0

  .chat-header
    border-bottom: 1px solid #CCCCCC
    box-shadow: 0 3px 6px rgba($black, .16)
    position: relative
    z-index: 2
    height: 70px
    display: flex
    align-items: center
    cursor: pointer
    background-color: $white
    transition: all ease-in-out .1s

    .icon-status
      font-size: 16px
      position: absolute
      right: 24px

    .icon-maximize
      display: none

    h5
      margin-bottom: 0

    .chat-count
      background-color: $btn-blue
      color: $white
      display: flex
      width: 70px
      height: 70px
      align-items: center
      justify-content: center
      margin-right: 24px
      position: relative

      .icon-message
        font-size: 24px

      .notify-count
        display: flex
        align-items: center
        justify-content: center
        position: absolute
        top: 14px
        right: 14px
        background-color: $red
        width: 18px
        height: 18px
        border-radius: 50%
        font-size: 10px
  
  .chat-body
    transition: all ease-in-out .1s
    background-color: $white

    .chat-list
      list-style: none
      margin: 0
      padding-left: 0
      height: 372px
      overflow-y: auto

      .simplebar-track.horizontal
        display: none

    .simplebar-content
      padding: 15px

    .participant-avatar
      width: 28px
      height: 28px
      position: relative
      display: block
      
      &:before
        content: ""
        position: absolute
        width: 8px
        height: 8px
        border: 1px solid $white
        background-color: $green
        border-radius: 50%
        right: 0
        bottom: 0

      img
        width: 28px
        height: 28px
        border-radius: 50%
    
    .participant
      position: relative
      padding-left: 28px + 12px
      margin-bottom: 16px

      p
        background-color: #F0F4F9
        border-radius: 16px 16px 16px 0
        padding: 12px
        margin-bottom: 8px
        display: inline-block
        font-weight: 500
        font-size: 12px
        line-height: 18px

      .participant-avatar
        position: absolute
        left: 0
        bottom: 30px

      .chat-footer
        font-size: 12px 
        
        .participant-name
          margin-right: 8px

      .file-attachment
        display: flex
        align-items: center
        font-weight: 700
        margin-bottom: 8px
        text-decoration: none
        color: $primary
        font-size: 12px

        .attachment-icon
          color: $white
          font-size: 22px
          background-color: $primary
          width: 44px
          height: 44px
          border-radius: 50%
          display: flex
          align-items: center
          justify-content: center
          margin-right: 12px

      .participant-name,
      .chat-time
        display: inline-block
        line-height: 15px

      &.is-away .participant-avatar:before
        background-color: $yellow

      &.is-offline .participant-avatar:before
        background-color: $gray-400


      &.self-chat
        padding-left: 0
        padding-right: 28px + 12px
        text-align: right

        p
          border-radius: 16px 16px 0 16px

        .participant-avatar
          left: auto
          right: 0

      &.chat-is-red p,
      &.chat-is-gray p,
      &.self-chat p
        color: $white

      &.chat-is-red p
        background-color: $red

      &.chat-is-gray p
        background-color: $gray-700

      &.self-chat p
        background-color: $primary

  .chat-compose
    height: 60px
    border-top: 1px solid #CCCCCC
    box-shadow: -3px 0 6px rgba($black, .16)
    position: relative
    z-index: 1
    display: flex
    overflow: hidden
    background-color: $white
    transition: all ease-in-out .1s

    .btn
      box-shadow: none
      font-size: 24px
      display: flex;
      align-items: center
      justify-content: center
      color: $body-color

      &.disabled
        opacity: .3

    &.is-active .btn-send
      color: $primary 


    .form-control
      border-radius: 0
      border: 0
      box-shadow: none
      height: 60px
      margin: -1px

  &.is-minimized
    border: none
    box-shadow: 0 0 0

    .icon-minimize
      display: none
      
    .icon-maximize
      display: block
    
    .chat-header
      border-radius: 6px
      border: 1px solid #CCCCCC
      box-shadow: -3px 3px 6px rgba($black, .16)

      .chat-count
        border-top-left-radius: 6px
        border-bottom-left-radius: 6px

    .chat-body,
    .chat-compose
      height: 60px
      margin-top: -60px
      visibility: hidden
      opacity: 0