#navbar-menu
    @media(max-width: 1024px)
        width: 300px
        height: 100%
        position: fixed
        top: 59px
        right: -300px
        z-index: 99
        background-color: white !important
    .navbar-nav
        @media(max-width: 1024px)
            width: 100%
            height: 100%
            flex-direction: column
            margin-bottom: 59px
            margin-top: 59px
            margin-right: 0
        .navbar-item
            @media(max-width: 1024px)
                border-bottom: 1px solid $border-question
                padding-left: 15px
            &:last-child
                @media(max-width: 1024px)
                    border-bottom: none
.navbar
    @media(max-width: 1024px)
        background-color: white !important
        height: 59px;
.content-area 
    @media(max-width: 1024px)
        margin-left: 0

.navbar-brand
    @media(max-width: 1024px)
        width: 100%
        text-align: center
        background-color: white !important
.side-menu, .navbar-btn
    @media(max-width: 1024px)
        display: none
.js-LeftMenu, .js-RightMenu
    display: none
    @media(max-width: 1024px)
        display: inline-block
        position: absolute
        top: 50%
        transform: translateY(-50%)
        -webkit-transform: translateY(-50%)
        -moz-transform: translateY(-50%)
        padding: 17px
.js-LeftMenu
    @media(max-width: 1024px)
        left: 0;
.js-RightMenu
    .material-icons
        font-size: 36px
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    @media(max-width: 1024px)
        right: 0;
.sidebar-area
    @media(max-width: 1024px)
        position: fixed
        top: 59px
        left: -300px
        overflow: auto
        padding-bottom: 59px
body
    &.open
        &:before
            content: ""
            position: fixed
            left: 0
            right: 0
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,0.8)
            z-index: 4
        .sidebar-area
            @media(max-width: 1024px)
                left: 0
    &.open-right
        &:before
            content: ""
            position: fixed
            left: 0
            right: 0
            width: 100%
            height: 100%
            background-color: rgba(0,0,0,0.8)
            z-index: 4
        #navbar-menu
            @media(max-width: 1024px)
                right: 0

