.poll-list
    padding: 20px
    background-color: white
    box-shadow: 0 2px 4px rgba(0,0,0,0.16)
    
    .poll-wrapper   
        height: 490px
        
.progress-wrapper
    padding-bottom: 20px
    margin-bottom: 30px
    border-bottom: 1px solid $border-question
    margin-right: 12px
    h3 
        font-size: 16px
        font-weight: 500
        color: $blue
        margin-bottom: 20px
    label 
        color: $text-grey
        margin-bottom: 3px
    .progress 
        margin-bottom: 20px
        position: relative
        &.lg
            height: 30px
        > span 
            position: absolute
            top: 50%
            left: 5px
            color: white
            font-size: 12px
            transform: translateY(-50%)
            -webkit-transform: translateY(-50%)
            -moz-transform: translateY(-50%)
        .progress-bar
            &.bg-blue
                background-color: $btn-blue
            &.bg-purple
                background-color: $color-purple
            &.bg-yellow
                background-color: $color-yellow
            &.bg-green
                background-color: $color-success
            &.bg-red
                background-color: $btn-red
            &.bg-black
                background-color: black




