<div class="ir-promt-manager">
	<p class="mb-0 title-promt">
		Operator Soundboard – IR Prompt Manager
	</p>
	<a href="#" class="arrow-side-right js-arrow-side-right arrow-up"><i class="material-icons">keyboard_arrow_up</i></a>
	<a href="#" class="btn btn-primary btn-sm ml-2 btn-config">
	  <img src="./dist/images/outline-settings-white.png" alt="" class="">
	</a>
	<ul class="list-unstyled list-config">
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Introduction</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>“MNPN-040120-Intro.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Introduction</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>“MNPN-040120-Intro.wav”</span>
			</a>
		</li>
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Q&amp;A Intro</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>“DEFAULT-QA-Intro.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Q&amp;A Intro</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>“DEFAULT-QA-Intro.wav”</span>
			</a>
		</li>
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Q&amp;A Reminder</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>“DEFAULT-QA Reminder.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Q&amp;A Reminder</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>"DEFAULT-QA Reminder.wav"</span>
			</a>
		</li>
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Q&amp;A End</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>DEFAULT-QA-End.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Q&amp;A End</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>"DEFAULT-QA-End.wav"</span>
			</a>
		</li>
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Wrap Up</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>"MNPN-040120-WrapUp.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Wrap Up</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>“MNPN-040120-WrapUp.wav”</span>
			</a>
		</li>
		<li>
			<div class="config-item thumb-config">
			  <span class="title">Emergency</span>
			  <i class="material-icons">play_circle_outline</i>
			  <span>"DEFAULT emergency.wav”</span>
			</div>
			<a href="#" data-toggle="modal" data-target="#modalSetting" class="config-item popup-config">
			  <span class="title">Emergency</span>
			  <img src="./dist/images/outline-settings-icon.png" alt="">
			  <span>“DEFAULT emergency.wav”</span>
			</a>
		</li>
	</ul>
	</div>
</div>