<div class="ir-sidebar">
	<p class="title-panel">Teleconferencing Control Panel</p>
	<a href="#" class="arrow-side js-arrow-side">
		<span>Teleconferencing Control Panel</span>
		<i class="material-icons">keyboard_arrow_right</i>
	</a>
	<div class="content-side">
		<div class="option-mode">
			<div class="custom-control mb-2 custom-radio">
			  <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3">
			  <label class="custom-control-label" for="exampleRadios3">
			    Host Only Mode
			  </label>
			</div>
			<div class="custom-control mb-2 custom-radio">
			  <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
			  <label class="custom-control-label" for="exampleRadios1">
			    Presentation Mode
			  </label>
			</div>
			<div class="custom-control custom-radio">
			  <input class="custom-control-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
			  <label class="custom-control-label" for="exampleRadios2">
			    Conversation Mode
			  </label>
			</div>
		</div>
		<div class="invitation-action">
			Moderator/Presenter List
			<a href="#" data-toggle="modal" data-target="#modalInvitation">
			  <i class="material-icons">add_circle_outline</i>
			</a>
		</div>
		<div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
			
				
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/28.jpg" alt="John Travolta">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">John Travolta</h4>
						<span class="profile-description">Enfin (Conected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_none</i></span>
						
					</div>
				</div>
			
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/32.jpg" alt="Mike Lewis">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">Mike Lewis</h4>
						<span class="profile-description">Demo Tech (Disconected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_off</i></span>
						
					</div>
				</div>
			
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/28.jpg" alt="John Travolta">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">John Travolta</h4>
						<span class="profile-description">Enfin (Disconected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_off</i></span>
						
					</div>
				</div>
			
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/32.jpg" alt="Mike Lewis">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">Mike Lewis</h4>
						<span class="profile-description">Demo Tech (Disconected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_off</i></span>
						
					</div>
				</div>
			
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/28.jpg" alt="John Travolta">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">John Travolta</h4>
						<span class="profile-description">Enfin (Disconected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_off</i></span>
						
					</div>
				</div>
			
				<div class="profile-item profile-box">
					<div class="profile-avatar">
						<img src="dist/images/32.jpg" alt="Mike Lewis">
					</div>
					<div class="profile-name">
						<h4 class="profile-title">Mike Lewis</h4>
						<span class="profile-description">Demo Tech (Disconected)</span>
						
						<span class="btn btn-qa"><i class="material-icons">mic_off</i></span>
						
					</div>
				</div>
			
		</div>
		<div class="invitation-action">
			Operator Chat <span class="label">6</span>
			<i class="material-icons-outlined">forum</i>
		</div>
		<div class="side-content chat">
        <!-- chatbox -->
		<div class="chat-box relative">
			<div class="chat-body" data-simplebar data-simplebar-auto-hide="true">
				<ul class="chat-list data-simplebar data-simplebar-auto-hide="true"">
					<li class="participant">
						<span class="participant-avatar"><img src="dist/images/1.jpg"></span>
						<p>Morning all, thanks for joining this meeting today. Can I have everyone raise their hand if they have a question. Thanks.</p>
						<div class="chat-footer"><strong class="participant-name">Jenny Smith</strong><span class="chat-time">12:41 PM</span></div>
					</li>
					<li class="participant self-chat">
						<span class="participant-avatar"><img src="dist/images/3.jpg"></span>
						<p>Morning Jenny, Morning Channel</p>
						<p>Redback conference</p>
						<div class="chat-footer"><strong class="participant-name">Me</strong><span class="chat-time">12:50 PM</span></div>
					</li>
					<li class="participant chat-is-red is-away">
						<span class="participant-avatar"><img src="dist/images/67.jpg"></span>
						<p>Ready to Conference Dude ?</p>
						<div class="chat-footer"><strong class="participant-name">Ronaldo Smith</strong><span class="chat-time">12:52 PM</span></div>
					</li>
					<li class="participant chat-is-gray is-offline">
						<span class="participant-avatar"><img src="dist/images/90.jpg"></span>
						<p>Wait a minute, I just Upload brifing File, please download and read</p>
						<a href="#" class="file-attachment"><span class="attachment-icon"><i class="icon-file-pdf"></i></span> Download</a>
						<div class="chat-footer"><strong class="participant-name">Rafinha Alcantara</strong><span class="chat-time">12:59 PM</span></div>
					</li>
				</ul>
			</div>
			<div class="chat-compose">
				<input type="text" placeholder="Press enter to post" class="form-control">
				<a href="#" class="btn btn-attachment"><i class="icon-attachment"></i></a>
				<a href="#" class="btn btn-send"><i class="icon-send"></i></a>
			</div>
		</div>
      </div>
	</div>
</div>