<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Prelim Webcast</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<nav class="nav-menu">
          <div class="nav nav-tabs col4" id="nav-tab" role="tablist">
          	<div class="help"><a href="" data-toggle="modal" data-target=".ir-modal"><img src="./dist/images/help_outline-24px.png" alt=""></a></div>
            <a class="nav-item nav-link" id="nav-home-tab" href="index.html">IR Manager</a>
            <a class="nav-item nav-link active" id="nav-profile-tab" href="presentation.html">Presentation Manager</a>
          </div>
        </nav>
		{% set pageActive = "eCurtain" %}
		<nav class="navbar navbar-expand fixed-top">
			{% set navGroup = [
				{navText: "Presentation Manager",
				iconColor: "bg-light-purple",
				navIcon: "presentation-manager",
				linkPage: "presentation.html"},
				
				{navText: "Video Clip Manager",
				iconColor: "bg-danger",
				navIcon: "video-manager",
				linkPage: "video-manager.html"},
				
				{navText: "Polling Manager",
				iconColor: "bg-purple",
				navIcon: "polling-manager",
				linkPage: "polling-manager.html"}, 
				
				{navText: "Survey Manager",
				iconColor: "",
				navIcon: "survey-manager",
				linkPage: "create-polling-question.html"}, 
				
				{navText: "Question Manager",
				iconColor: "",
				navIcon: "question-manager",
				linkPage: "question-manager.html"}, 
				
				{navText: "Remote Control",
				iconColor: "bg-light-green",
				navIcon: "remote-control",
				linkPage: "#"}, 
				
				{navText: "Resource Manager",
				iconColor: "bg-info",
				navIcon: "resource-manager",
				linkPage: "#"}, 
				
				{navText: "Public Chat",
				iconColor: "bg-warning",
				navIcon: "public-chat",
				linkPage: "#"},
				
				{navText: "eCurtain",
				iconColor: "bg-info",
				navIcon: "curtain",
				linkPage: "ecurtain.html"}
			] %}
				<div class="navbar-brand">
					<a class="" href="#"><img src="dist/images/logo.png" alt="Redback"></a>
					<!-- <a href="" class="side-menu js-side"><i class="material-icons">arrow_back</i></a>
					<button class="navbar-btn js-menu" type="button" data-target="#navbar-menu" >
						<span class="content-header-icon"><i class="icon-presentation-list"></i></span>
					</button> -->
					<!-- mobile button -->
					<a href="#" class="js-LeftMenu"><i class="icon-presentation-list"></i></a>
					<a href="#" class="js-RightMenu"><i class="material-icons">playlist_play</i></a>
				</div>
			<div class="collapse navbar-collapse js-mobile-menu-right" id="navbar-menu">
				<ul class="navbar-nav">
					{% for item in navGroup %}
					<li class="navbar-item {%if pageActive == item.navText %}active{%endif%}">
						<a href="{{item.linkPage}}" class="nav-link">
							<span class="nav-icon {{item.iconColor}}"><i class="icon-{{item.navIcon}}"></i></span>
							<span class="nav-text">{{item.navText}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		
		<!-- sidebar area -->
		<div class="sidebar-area js-mobile-menu">
			<div class="video-call">
				<div class="status-live countdown">
					<p>COUNTDOWN to LIVE <span class="count" data-counter="5"></span></p>
					<div class="status">
						<span>COUNTDOWN</span>
					</div>
				</div>
				<img src="dist/images/vid.png" alt="vid">
			</div>
			<div class="moderator-menu">
				<ul>
					<li class="dropdown">
						<span class="moderator-pict">
							<img src="dist/images/32.jpg" alt="moderator">
						</span>
						<p>
							<span class="moderator-name">Dwi Wibowo</span>
							<span >Moderator<span>
						</p>
					</li>
				</ul>
			</div>
			<div id="accordion">
				<div class="card ">
				    <div class="card-header" id="headingOne">
				        <div class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				            <div class="title-content">
								<h3>Moderator <span class="label">20</span></h3>
								<span class="material-icons">keyboard_arrow_down</span>
							</div>
				        </div>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="side-content participant">
				        <div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
							{% set moderator = [
								{name:"Brent Cowan",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Dwi Wibowo",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Doe",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"}
								] %}
								{% for user in moderator %}
								<div class="profile-item profile-box">
									<div class="profile-avatar">
										<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
									</div>
									<div class="profile-name">
										<h4 class="profile-title">{{user.name}}</h4>
										<span class="profile-description">{{user.desc}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
				      </div>
				    </div>
				</div>
			  	<div class="card">
				    <div class="card-header" id="headingTwo">
				        <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				           <div class="title-content">
								<h3>Presenter <span class="label">6</span></h3>
								<span class="material-icons">keyboard_arrow_down</span>
							</div>
				        </div>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="side-content participant">
				        <div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
							{% set moderator = [
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"}
								] %}
								{% for user in moderator %}
								<div class="profile-item profile-box">
									<div class="profile-avatar">
										<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
									</div>
									<div class="profile-name">
										<h4 class="profile-title">{{user.name}}</h4>
										<span class="profile-description">{{user.desc}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
				      </div>
				    </div>
			  	</div>
			</div>
		</div>
		<!-- content area -->
		<div class="content-area">
			<div class="row column-content-group">
				<div class="col-8 is-ecurtain-list">
					<div class="content-group">
						<div class="content-header">
							<h3>eCURTAIN MEDIA LIBRARY</h3>
							<span class="content-header-icon"><i class="material-icons">view_headline</i></span>
						</div>
						<div class="card">
							<div class="card-body">
								<table class="table">
									<thead>
										<tr>
											<th class="col-play">&nbsp;</th>
											<th class="col-title">Title</th>
											<th class="col-action">Action</th>
										</tr>
									</thead>
								</table>
								<div class="scrollable" data-simplebar data-simplebar-auto-hide="true">
									<table class="table table-striped-even">
										<tbody>
											{% set presentationList = [
												'Pre-Rol Hold to live', 
												'Hold - Delay to start ',
												'Webminar on Break',
												'End - Thank You For Attending',
												'Webminar on Break', 
												'Pre-Rol Hold to live', 
												'Hold - Delay to start ',
												'Webminar on Break',
												'End - Thank You For Attending',
												'Webminar on Break'
												] %}
												{% for item in presentationList %}
												<tr>
													<td class="col-play">
														<a href="#" class="btn-play"><i class="icon-play"></i></a>
													</td>
													<td class="col-title">
														<a href="single-presentation.html">{{item}}</a>
													</td>
													<td class="col-action">
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Powerpoint File details, created by, when…etc"><i class="icon-info"></i></a>
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Edit"><i class="material-icons">edit</i></a>
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Delete"><i class="icon-delete"></i></a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div class="content-group">
						<div class="content-header">
							<h3>Event Upload</h3>
							<span class="content-header-icon"><i class="material-icons">view_headline</i></span>
						</div>
						<div class="card">
							<div class="card-body">
								<table class="table">
									<thead>
										<tr>
											<th class="col-play">&nbsp;</th>
											<th class="col-title">Title</th>
											<th class="col-action">Action</th>
										</tr>
									</thead>
								</table>
								<div class="scrollable" data-simplebar data-simplebar-auto-hide="true">
									<table class="table table-striped-even">
										<tbody>
											{% set presentationList = [
												'Standby Technical Difficulties', 
												'Housekeeping Announcment',
												'ABC 123 Company HOLD Curtain',
												'Housekeeping Announcment',
												'Standby Technical Difficulties', 
												'Housekeeping Announcment',
												'ABC 123 Company HOLD Curtain',
												'Housekeeping Announcment'
												] %}
												{% for item in presentationList %}
												<tr>
													<td class="col-play">
														<a href="#" class="btn-play"><i class="icon-play"></i></a>
													</td>
													<td class="col-title">
														<a href="single-presentation.html">{{item}}</a>
													</td>
													<td class="col-action">
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Powerpoint File details, created by, when…etc"><i class="icon-info"></i></a>
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Edit"><i class="material-icons">edit</i></a>
														<a href="#" class="btn-action" data-toggle="tooltip" data-placement="top" title="Delete"><i class="icon-delete"></i></a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-4 is-upload-ecurtain">
					<div class="content-group button">
						<a href="ecurtain.html" class="button-live countdown">
							<span class="play-icon"><i class="material-icons">stop</i></span>
							CANCEL COUNTDOWN
							<span>return to eCurtain</span>
						</a>
					</div>
					<div class="content-group video">
						<div class="content-header">
							<h3>eCurtain VIDEO Playback</h3>
							<span class="content-header-icon"><i class="icon-visibility"></i></span>
						</div>
						<div class="embed-video">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FPM-_PSv95k?rel=0&amp;autoplay=1"></iframe>
						</div>
					</div>
					<div class="content-group">
						<div class="content-header">
							<h3>UPLOAD VIDEO CLIP</h3>
							<span class="content-header-icon"><i class="icon-upload"></i></span>
						</div>
						<div class="card is-upload">
							<div class="card-body">
								<p>This is only for Presentation File. not available for other file</p>
								<div class="upload-box">
									<div class="upload-label">
										<h3>Drag and Drop files here or click to Upload.</h3>
										<p>(pdf, ppt/pptx, doc/docx. Max 100 MB)</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal fade ir-modal" id="irModal" tabindex="-1" role="dialog" aria-labelledby="irModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">INVESTOR RELATIONS (IR) PLATFORM</h5>
		        <p><small>Powered by</small> REDBACK CONNECT</p>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>For Support Contact: +61 (02) 8014 5150 or Toll Free within Australia: 1 800 733 416</p>
		      </div>
		      <div class="modal-footer">
		        <a href=""><span>support</span>@redbackconnect.com.au</a>
		      </div>
		    </div>
		  </div>
		</div>
					
		<!-- jquery -->
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
		
		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- custom scroll -->
		<script src="dist/js/simplebar.js"></script>
		<script src="dist/js/moment.min.js"></script>
		<script src="dist/js/ez.countimer.min.js"></script>
		
		<!-- main js -->
		<script src="dist/js/main.min.js"></script>
		<script>
			$(document).ready(function(){
		      setTimeout(function() {
		       window.location.href = "https://dwiwibowo.gitlab.io/ir-prelim/ecurtain-live.html"
		      }, 5000);
		    });
		</script>
	</body>
</html>