<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c"> -->
		<title>Prelim Webcast</title>
		<link rel="stylesheet" type="text/css" href="dist/css/style.css">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<nav class="nav-menu">
          <div class="nav nav-tabs col4" id="nav-tab" role="tablist">
          	<div class="help"><a href="" data-toggle="modal" data-target=".ir-modal"><img src="./dist/images/help_outline-24px.png" alt=""></a></div>
            <a class="nav-item nav-link" id="nav-home-tab" href="index.html">IR Manager</a>
            <a class="nav-item nav-link active" id="nav-profile-tab" href="presentation.html">Presentation Manager</a>
          </div>
        </nav>
		{% set pageActive = "Presentation Manager" %}
		<nav class="navbar navbar-expand fixed-top">
			{% set navGroup = [
				{navText: "Presentation Manager",
				iconColor: "bg-light-purple",
				navIcon: "presentation-manager",
				linkPage: "presentation.html"},
				
				{navText: "Video Clip Manager",
				iconColor: "bg-danger",
				navIcon: "video-manager",
				linkPage: "video-manager.html"},
				
				{navText: "Polling Manager",
				iconColor: "bg-purple",
				navIcon: "polling-manager",
				linkPage: "polling-manager.html"}, 
				
				{navText: "Survey Manager",
				iconColor: "",
				navIcon: "survey-manager",
				linkPage: "create-polling-question.html"}, 
				
				{navText: "Question Manager",
				iconColor: "",
				navIcon: "question-manager",
				linkPage: "question-manager.html"}, 
				
				{navText: "Remote Control",
				iconColor: "bg-light-green",
				navIcon: "remote-control",
				linkPage: "#"}, 
				
				{navText: "Resource Manager",
				iconColor: "bg-info",
				navIcon: "resource-manager",
				linkPage: "#"}, 
				
				{navText: "Public Chat",
				iconColor: "bg-warning",
				navIcon: "public-chat",
				linkPage: "#"},
				
				{navText: "eCurtain",
				iconColor: "bg-info",
				navIcon: "curtain",
				linkPage: "ecurtain.html"}
			] %}
				<div class="navbar-brand">
					<a class="" href="#"><img src="dist/images/logo.png" alt="Redback"></a>
					<!-- <a href="" class="side-menu js-side"><i class="material-icons">arrow_back</i></a>
					<button class="navbar-btn js-menu" type="button" data-target="#navbar-menu" >
						<span class="content-header-icon"><i class="icon-presentation-list"></i></span>
					</button> -->
					<!-- mobile button -->
					<a href="#" class="js-LeftMenu"><i class="icon-presentation-list"></i></a>
					<a href="#" class="js-RightMenu"><i class="material-icons">playlist_play</i></a>
				</div>
			<div class="collapse navbar-collapse js-mobile-menu-right" id="navbar-menu">
				<ul class="navbar-nav">
					{% for item in navGroup %}
					<li class="navbar-item {%if pageActive == item.navText %}active{%endif%}">
						<a href="{{item.linkPage}}" class="nav-link">
							<span class="nav-icon {{item.iconColor}}"><i class="icon-{{item.navIcon}}"></i></span>
							<span class="nav-text">{{item.navText}}</span>
						</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</nav>
		
		<!-- sidebar area -->
		<div class="sidebar-area js-mobile-menu">
			<div class="video-call">
				<div class="status-live">
					<p>The eCurtain is Down</p>
					<div class="status">
						<span>Off Air</span>
					</div>
				</div>
				<img src="dist/images/vid.png" alt="vid">
			</div>
			<div class="moderator-menu">
				<ul>
					<li class="dropdown">
						<span class="moderator-pict">
							<img src="dist/images/32.jpg" alt="moderator">
						</span>
						<p>
							<span class="moderator-name">Dwi Wibowo</span>
							<span >Moderator<span>
						</p>
					</li>
				</ul>
			</div>
			<div id="accordion">
				<div class="card ">
				    <div class="card-header" id="headingOne">
				        <div class="" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				            <div class="title-content">
								<h3>Moderator <span class="label">20</span></h3>
								<span class="material-icons">keyboard_arrow_down</span>
							</div>
				        </div>
				    </div>

				    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				      <div class="side-content participant">
				        <div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
							{% set moderator = [
								{name:"Brent Cowan",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Dwi Wibowo",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Doe",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"}
								] %}
								{% for user in moderator %}
								<div class="profile-item profile-box">
									<div class="profile-avatar">
										<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
									</div>
									<div class="profile-name">
										<h4 class="profile-title">{{user.name}}</h4>
										<span class="profile-description">{{user.desc}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
				      </div>
				    </div>
				</div>
			  	<div class="card">
				    <div class="card-header" id="headingTwo">
				        <div class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
				           <div class="title-content">
								<h3>Presenter <span class="label">6</span></h3>
								<span class="material-icons">keyboard_arrow_down</span>
							</div>
				        </div>
				    </div>
				    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
				      <div class="side-content participant">
				        <div class="participant-list" data-simplebar data-simplebar-auto-hide="true">
							{% set moderator = [
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"},
								{name:"John Travolta",
								avatar: "28",
								desc: "Enfin (Disconected)"},
								{name:"Mike Lewis",
								avatar: "32",
								desc: "Demo Tech (Disconected)"}
								] %}
								{% for user in moderator %}
								<div class="profile-item profile-box">
									<div class="profile-avatar">
										<img src="dist/images/{{user.avatar}}.jpg" alt="{{user.name}}">
									</div>
									<div class="profile-name">
										<h4 class="profile-title">{{user.name}}</h4>
										<span class="profile-description">{{user.desc}}</span>
									</div>
								</div>
							{% endfor %}
						</div>
				      </div>
				    </div>
			  	</div>
			</div>
		</div>
		<!-- content area -->
		<div class="content-area">
			<div class="row column-content-group">
				<div class="col-8 is-presentation-list">
					<div class="content-group">
						<div class="content-header">
							<h3>CURRENT SLIDE <small>Make Sales Now.pptx</small></h3>
							<span class="content-header-icon"><i class="icon-video-manager"></i></span>
						</div>
						<div class="pdf-bar">
							<ul>
								<li class="play-btn"><a href="" class="play"><span class="material-icons">play_arrow</span></a></li>
								<li class="pause-btn"><a href="" class="pause"><span class="material-icons">pause</span></a></li>
								<li><p class="timer">10:12</p></li>
								<li><a href="" class="refresh"><span class="icon-refresh"></span></a></li>
							</ul>
							<div class="my-dropdown">
								<button class="btn btn-secondary js-dropdown" type="button">
									<span class="icon-setting"></span>
								</button>
								<div class="my-option-list">
									<button class="btn-config active" id="rmEvent">Disable Keyboard</button>
									<button class="btn-config" id="mySettingKey">Active Keyboard</button>
								</div>
							</div>
							
							<a href="" class="close-pdf js-stop-slick"><span class="icon-close"></span></a>
						</div>
						<div class="slide-preview" data-simplebar data-simplebar-auto-hide="true">
							
							<div class="slides js-slides2">
								<div class="slide-item" data-img="312-1">
									<img src="dist/images/658-1.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-2">
									<img src="dist/images/658-2.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-3">
									<img src="dist/images/658-3.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-4">
									<img src="dist/images/658-4.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-5">
									<img src="dist/images/658-5.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-6">
									<img src="dist/images/658-6.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-7">
									<img src="dist/images/658-7.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-8">
									<img src="dist/images/658-8.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-9">
									<img src="dist/images/658-9.png" alt="slide preview">
								</div>
								<div class="slide-item" data-img="312-10">
									<img src="dist/images/658-10.png" alt="slide preview">
								</div>
							</div>
						</div>
						<div class="pdf-bar-bottom">
							<ul>
								<li><button class="arrow-slide js-prev disabled" id="jsPrev" type="button" aria-label="Previous" aria-disabled="true"><span class="icon-play-left "></span></button></li>
								<li><p><i class="current-slide">1</i> <i>of</i> <i class="total-slide"></i></p></li>
								<li><button class="arrow-slide js-next" id="jsNext" type="button" aria-label="next" aria-disabled="false"><span class="icon-play-right"></span></button></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-4 is-upload-presentation">
					<div class="content-group">
						<div class="content-header">
							<h3>NEXT SLIDE</h3>
						</div>
						<div class="card">
							<div class="card-body">
								<div class="next-slide">
									<!-- <a href=""><img class="js-img" src="dist/images/312-1.png" alt="next slide"></a> -->
									<div class="slides js-slides3">
										<div class="slide-item">
											<img src="dist/images/312-2.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-3.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-4.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-5.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-6.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-7.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-8.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-9.png" alt="slide preview">
										</div>
										<div class="slide-item">
											<img src="dist/images/312-10.png" alt="slide preview">
										</div>
									</div>
									<div class="notes-wrapp">
										<h3>Notes</h3>
										<div id="controls">
										    <a href="#" id="small" class="js-font">A</a>
										    <a href="#" id="medium" class="js-font selected">A</a>
										    <a href="#" id="large" class="js-font">A</a>
										  </div>
										<div class="notes" data-simplebar data-simplebar-auto-hide="true">
											<div>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
												<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="content-group mb-0 content-bottom">
						<div class="content-header">
							<h3>PRESENTATION PREVIEW<small>Make Sales Now.PPTX</small></h3>
							<span class="content-header-icon js-collapsed" data-collapse="#jsCardCollapsed">
								<i class="material-icons i-add">add</i>
								<i class="material-icons i-remove">remove</i>
							</span>
						</div>
						<div class="card" id="jsCardCollapsed">
							<div class="card-body">
								<div class="slides js-slides1">
									{% for i in range(1,11) %}
									<div class="slide-item">
										<h4 class="slide-title">slide {{i}}</h4>
										<img src="dist/images/148-{{i}}.png" alt="Slide {{i}}">
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<!-- Modal -->
		<div class="modal fade ir-modal" id="irModal" tabindex="-1" role="dialog" aria-labelledby="irModal" aria-hidden="true">
		  <div class="modal-dialog modal-dialog-centered modal-md" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalCenterTitle">INVESTOR RELATIONS (IR) PLATFORM</h5>
		        <p><small>Powered by</small> REDBACK CONNECT</p>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <i class="material-icons">close</i>
		        </button>
		      </div>
		      <div class="modal-body">
		        <p>For Support Contact: +61 (02) 8014 5150 or Toll Free within Australia: 1 800 733 416</p>
		      </div>
		      <div class="modal-footer">
		        <a href=""><span>support</span>@redbackconnect.com.au</a>
		      </div>
		    </div>
		  </div>
		</div>
					
		<!-- jquery -->
		
		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
		
		<!-- popper for bootstrap -->
		<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script> -->
		<!-- popper for bootstrap -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<!-- bootstrap -->
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		
		<!-- custom scroll -->
		<script src="dist/js/simplebar.js"></script>
		<script src="dist/js/moment.min.js"></script>
		<script src="dist/js/ez.countimer.min.js"></script>
		
		<!-- main js -->
		<script src="dist/js/main.min.js"></script>
		<script src="dist/js/js-presentation.js"></script>
	</body>
</html>