.custom-radio
	.custom-control-input
		&:checked
			~ .custom-control-label
				position: relative
				&::before
					background-color: $btn-blue
					width: 10px
					height: 10px
					border-radius: 300px
					border: none
					position: absolute
					z-index: 2
					top: 6px
					left: -21px
					outline: none
				&::after
					background-color: $white
					background-image: none !important
					border-radius: 300px
					border: 1px solid $btn-blue