.ir-sidebar
    position: absolute
    top: 0
    left: 0
    width: 48px;
    height: 100%
    background-color: $white
    z-index: 99
    padding-top: 48px
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    overflow-x: hidden
    .title-panel
        position: absolute
        top: 200px
        left: -125px
        -webkit-transform: rotate(-90deg)
        -moz-transform: rotate(-90deg)
        transform: rotate(-90deg)
        width: 300px
        color: $btn-blue
    .arrow-side
        position: absolute
        top: 0
        right: 0
        display: block
        width: 48px
        height: 48px
        background-color: $bg-broadcast-active
        color: $btn-blue
        text-align: left
        padding-left: 15px
        span
            margin-top: 13px
            padding-right: 22px
            display: none
            width: 300px
        i
            font-size: 24px
            background-color: transparent
            margin-top: 12px;
            position: absolute
            top: 0px
            right: 12px
            -webkit-transition: all ease-in-out .2s
            -moz-transition: all ease-in-out .2s
            -ms-transition: all ease-in-out .2s
    .content-side
        display: none
        width: 300px
        height: 100%
        .option-mode
            padding: 20px
            .form-check-label
                vertical-align: middle
                color: $text-grey
        .invitation-action
            width: 100%
            padding: 15px
            background-color: $bg-broadcast-active
            position: relative
            color: $btn-blue
            > a
                position: absolute
                top: 13px
                right: 15px
            span
                display: inline-block
                background-color: $btn-red
                border-radius: 3px
                padding: 1px 10px
                color: $white
                margin-left: 10px
            > i
                position: absolute
                top: 15px
                right: 15px
        .participant-list
            height: 160px
            @media (max-width: 1280px)
                height: 110px
            .profile-item
                position: relative
                .btn
                    color: $orange
                    position: absolute
                    top: 50%
                    right: 20px
                    margin-top: -12px
                    width: 28px
                    height: 28px
                    display: inline-block
                    background-color: $bg-icon
                    border-radius: 100%
                    padding: 2px
                    i
                        font-size: 20px
        .side-content
            &.chat
                height: 36%
                @media (max-width: 1440px)
                    height: 33%
                @media (max-width: 1366px)
                    height: 28%
                @media (max-width: 1280px)
                    height: 27%
                .chat-box
                    border: none
                    &.relative
                        height: 100%
                .chat-compose
                    bottom: 58px
                    .btn-attachment
                        color: $text-grey-light
                    .btn-send
                        color: $btn-blue
                .chat-body
                    .chat-list
                        padding-bottom: 90px
    &.ir-open
        .content-side
            display: block
body
    &.ir-open
        .ir-sidebar
            width: 300px
            .title-panel
                display: none
            .arrow-side
                width: 100%
                span
                    display: inline-block
                i
                    -webkit-transform: rotate(180deg)
                    -moz-transform: rotate(180deg)
                    transform: rotate(180deg)
        .content-area
            &.ir
                .column-content-group
                    padding-left: 255px
                > .card
                    margin-left: 255px
            
