.ir-modal
	.modal-dialog
		&.modal-lg
			@media (min-width: 992px)
				max-width: 696px
		.modal-content
			border-radius: 0
			border: none
		.modal-header
			padding: 30px 0
			display: block
			border-radius: 0
			background: #62cbf0; /* Old browsers */
			background: -moz-linear-gradient(left,  #62cbf0 0%, #244bbc 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(left,  #62cbf0 0%,#244bbc 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to right,  #62cbf0 0%,#244bbc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			text-align: center

			h5
				color: $white
				font-size: 16px
				display: block
				&.md
					font-size: 18px
			p
				color: $white
				font-size: 16px
				display: block
				margin-bottom: 0
				font-weight: 500
				small
					font-weight: 300
			.close
				position: absolute
				top: 10px
				right: 10px
				color: $white
				opacity: 1
				box-shadow: none
				i
					font-size: 16px
			&.original
				background: $white
				text-align: left
				padding: 15px 15px
				.close
					color: $black
					top: 20px
					right: 20px
					&:focus
						outline: none
					i
						font-size: 20px
				h5
					color: $btn-red
		.modal-body
			text-align: center
			padding: 40px 110px
			&.original
				padding: 20px 15px;
				text-align: left
			p
				font-weight: 500
			.invitation-form
				h3
					font-size: 16px
					margin-left: 0
				.row
					margin-left: -6px
					margin-right: -6px
					[class^="col-"]
						padding-left: 6px
						padding-right: 6px
				.form-group
					margin-bottom: 20px
				.col-form-label
					align-self: center
				.form-control
					height: 38px
					border-color: $border-color-1
					border-radius: 3px
					&::placeholder
					  color: $border-table
					  opacity: 1
					&:-ms-input-placeholder
					  color: $border-table
					&::-ms-input-placeholder
					  color: $border-table
					&.phone-number
						&::placeholder
						  color: $text-grey
						  opacity: 1
						&:-ms-input-placeholder
						  color: $text-grey
						&::-ms-input-placeholder
						  color: $text-grey
				.form-check-inline
					margin-top: 7px

				.btn
					height: 38px
					padding-top: 8px
					padding-bottom: 8px
			.config-option
				margin-top: 80px
				.row
					margin-left: -12px
					margin-right: -12px
					[class^="col-"]
						padding-left: 12px
						padding-right: 12px
				.option-wrapp
					background-color: $option-bg
					border: 1px solid $border-color-1
					border-radius: 3px
					padding: 15px 20px
					width: 100%
					min-height: 129px
					margin-bottom: 24px
					.opt
						text-align: center
						width: 100%
						p
							margin-bottom: 0
							font-weight: 500
							font-size: 14px
							color: $btn-red
						span
							display: inline-block
							width: 40px
							height: 40px
							text-align: center
							background-color: $rgba-red
							border-radius: 300px
							padding: 8px 0
							margin-bottom: 15px
							i
								font-size: 24px
								color: $btn-red
								vertical-align: middle

		.modal-footer
			display: block
			text-align: center
			padding: 40px 0
			a
				font-weight: 500
				span
					color: $black
