.ir-promt-manager
    position: fixed
    left: 0
    bottom: 0
    width: 100%
    height: 48px
    background-color: $white
    z-index: 99999
    padding-top: 48px
    padding-left: 20px
    padding-right: 70px
    transition: all ease-in-out .2s
    -webkit-transition: all ease-in-out .2s
    -moz-transition: all ease-in-out .2s
    -ms-transition: all ease-in-out .2s
    border-top: 1px solid $bg-broadcast-active
    .btn
        padding: 11px 10px !important
        position: absolute
        width: 48px
        height: 48px
        top: 60px
        right: 10px
        text-align: center
        img
            margin: 0 auto
        &.btn-yellow
            background-color: $color-yellow !important
            border-color: $color-yellow !important
    .title-promt
        color: $btn-blue
        padding-left: 0
        position: absolute
        top: 15px
        left: 20px;
        
    .arrow-side-right
        position: absolute
        top: 0
        right: 0
        display: block
        width: 48px
        height: 48px
        color: $white
        text-align: center
        -webkit-transition: all ease-in-out .2s
        -moz-transition: all ease-in-out .2s
        -ms-transition: all ease-in-out .2s
        i
            font-size: 24px
            background-color: transparent
            margin-top: 10px;
            color: $theme
    .list-config
        display: inline-flex
        padding: 15px 0
        width: 100%
        justify-content: center
        li
            width: 16.66667%
            max-width: 194px
            min-height: 126px
            background-color: $option-bg
            border: 1px solid $border-color-1
            margin-right: 30px
            border-radius: 3px
            &:last-child
                margin-right: 0
            .config-item
                text-align: center
                padding: 15px
                display: block
                min-height: 126px
                span
                    display: block
                    color: $text-grey
                .title
                    font-size: 14px
                    font-weight: 500
                    margin-bottom: 8px
                    color: $black
                    display: block
                img
                    margin-bottom: 8px
                i
                    color: $btn-red
                &.popup-config
                    display: none
                    &:hover
                        text-decoration: none
            &.ir-config
                .config-item
                    &.thumb-config
                        display: none
                    &.popup-config
                        display: block
    .content-promt
        overflow-x: auto
        margin-right: 70px
    &.ir-open
        height: 230px
        .list-video
            visibility: visible
        .arrow-side-right
            -webkit-transform: rotate(180deg)
            -moz-transform: rotate(180deg)
            transform: rotate(180deg)

