@import "icomoon-variables.scss";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kupvxd');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?kupvxd#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?kupvxd') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?kupvxd') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?kupvxd##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-curtain {
  &:before {
    content: $icon-curtain; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-polling-manager {
  &:before {
    content: $icon-polling-manager; 
  }
}
.icon-presentation-list {
  &:before {
    content: $icon-presentation-list; 
  }
}
.icon-presentation-manager {
  &:before {
    content: $icon-presentation-manager; 
  }
}
.icon-public-chat {
  &:before {
    content: $icon-public-chat; 
  }
}
.icon-question-manager {
  &:before {
    content: $icon-question-manager; 
  }
}
.icon-remote-control {
  &:before {
    content: $icon-remote-control; 
  }
}
.icon-resource-manager {
  &:before {
    content: $icon-resource-manager; 
  }
}
.icon-survey-manager {
  &:before {
    content: $icon-survey-manager; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-video-manager {
  &:before {
    content: $icon-video-manager; 
  }
}
.icon-visibility {
  &:before {
    content: $icon-visibility; 
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down; 
  }
}
.icon-attachment {
  &:before {
    content: $icon-attachment; 
  }
}
.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-computer {
  &:before {
    content: $icon-computer; 
  }
}
.icon-file-pdf {
  &:before {
    content: $icon-file-pdf; 
  }
}
.icon-hand {
  &:before {
    content: $icon-hand; 
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize; 
  }
}
.icon-message {
  &:before {
    content: $icon-message; 
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize; 
  }
}
.icon-send {
  &:before {
    content: $icon-send; 
  }
}
.icon-shortby {
  &:before {
    content: $icon-shortby; 
  }
}
.icon-volume-high {
  &:before {
    content: $icon-volume-high; 
  }
}
.icon-volume-mute {
  &:before {
    content: $icon-volume-mute; 
  }
}
.icon-microphone {
  &:before {
    content: $icon-microphone; 
  }
}
.icon-tower-transmissions {
  &:before {
    content: $icon-tower-transmissions; 
  }
}